<section>
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-semibold text-gray-500">{{ title }}</h1>
    <h2 class="text-3xl font-semibold text-gray-500">
      {{ totalExpense() }} <span class="ms-1 text-base">MGA</span>
    </h2>
  </div>

  <!-- Modal toggle -->
  <div class="mt-8">
    <button
      class="mb-2 me-2 rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
      type="button"
      (click)="onAddExpense()"
    >
      Noter une dépense
    </button>
  </div>

  <div class="mt-10 sm:rounded-lg">
    <div
      class="flex-column flex flex-wrap items-center justify-between space-y-4 pb-6 sm:flex-row sm:space-y-0"
    >
      <label for="table-search" class="sr-only">Search</label>
      <div class="relative">
        <div
          class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 left-0 flex items-center ps-3 rtl:right-0"
        >
          <svg
            class="h-5 w-5 text-gray-500 dark:text-gray-400"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </div>
        <input
          [formControl]="search"
          (keyup)="filteredExpenseList()"
          type="text"
          id="table-search"
          class="block w-80 rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
          placeholder="Rechercher..."
        />
      </div>
    </div>

    <div class="relative max-h-[70dvh] overflow-y-auto">
      <table
        class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right"
      >
        <thead
          class="sticky top-0 bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Désignation</th>
            <th scope="col" class="px-6 py-3">Catégorie</th>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Montant (MGA)</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="5" class="py-4 text-center text-gray-500">
                <app-loader-spinner />
              </td>
            </tr>
          } @else {
            @for (expense of filteredExpenseList(); track expense.id) {
              <tr
                class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
              >
                <td
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  {{ expense.name }}
                </td>
                <td class="flex flex-wrap px-6 py-4">
                  @for (category of expense.categories; track category) {
                    <span
                      class="me-2 rounded bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 dark:bg-green-900 dark:text-green-300"
                      >{{ category.name }}</span
                    >
                  }
                </td>
                <td class="px-6 py-4">{{ expense.date | date: "d MMM, y" }}</td>
                <td class="px-6 py-4">{{ expense.amount }}</td>
                <td class="flex px-6 py-4">
                  <button
                    class="border-0 bg-transparent font-medium text-blue-600 hover:underline dark:text-blue-500"
                    (click)="onEditExpense(expense)"
                    type="button"
                  >
                    <svg
                      class="h-6 w-6 text-gray-800 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="onDeleteExpense(expense.id)"
                    class="ms-2 border-0 bg-transparent font-medium text-blue-600 hover:underline dark:text-blue-500"
                  >
                    <svg
                      class="h-6 w-6 text-red-800 dark:text-pink-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6" class="py-4 text-center text-gray-500">
                  Aucune donnée à afficher
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</section>

<!-- Expense Form modal -->
@if (isShowModal()) {
  <app-expenses-form
    [selectedExpense]="selectedExpense"
    [isAddForm]="isAddForm()"
    (isCloseModal)="onCloseModal()"
  />
}

<!-- Expense delete modal -->
@if (isShowModalDelete()) {
  <app-modal-delete (closeModal)="onCloseModalDelete()" [id]="expenseId" />
}
