<h1 class="text-3xl font-semibold text-gray-500">{{ title }}</h1>

<div class="mt-8">
  <!-- Modal toggle -->
  <button
    data-modal-target="expense-form-modal"
    data-modal-toggle="expense-form-modal"
    class="mb-2 me-2 rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
    type="button"
  >
    Noter une dépense
  </button>
</div>

<div class="relative mt-10 max-h-[85dvh] overflow-y-auto sm:rounded-lg">
  <div
    class="flex-column flex flex-wrap items-center justify-between space-y-4 pb-6 sm:flex-row sm:space-y-0"
  >
    <div>
      <button
        id="dropdownRadioButton"
        data-dropdown-toggle="dropdownRadio"
        class="inline-flex items-center rounded-lg border border-gray-300 bg-white px-3 py-1.5 text-sm font-medium text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-4 focus:ring-gray-100 dark:border-gray-600 dark:bg-gray-800 dark:text-white dark:hover:border-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        type="button"
      >
        <svg
          class="me-3 h-3 w-3 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          viewBox="0 0 20 20"
        >
          <path
            d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm3.982 13.982a1 1 0 0 1-1.414 0l-3.274-3.274A1.012 1.012 0 0 1 9 10V6a1 1 0 0 1 2 0v3.586l2.982 2.982a1 1 0 0 1 0 1.414Z"
          />
        </svg>
        7 derniers jours
        <svg
          class="ms-2.5 h-2.5 w-2.5"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 10 6"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m1 1 4 4 4-4"
          />
        </svg>
      </button>
      <!-- Dropdown menu -->
      <div
        id="dropdownRadio"
        class="z-10 hidden w-48 divide-y divide-gray-100 rounded-lg bg-white shadow dark:divide-gray-600 dark:bg-gray-700"
        data-popper-reference-hidden=""
        data-popper-escaped=""
        data-popper-placement="top"
        style="
          position: absolute;
          inset: auto auto 0px 0px;
          margin: 0px;
          transform: translate3d(522.5px, 3847.5px, 0px);
        "
      >
        <ul
          class="space-y-1 p-3 text-sm text-gray-700 dark:text-gray-200"
          aria-labelledby="dropdownRadioButton"
        >
          <li>
            <div
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <input
                id="filter-radio-example-1"
                type="radio"
                value=""
                name="filter-radio"
                class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label
                for="filter-radio-example-1"
                class="ms-2 w-full rounded text-sm font-medium text-gray-900 dark:text-gray-300"
                >Aujourd'hui</label
              >
            </div>
          </li>
          <li>
            <div
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <input
                checked=""
                id="filter-radio-example-2"
                type="radio"
                value=""
                name="filter-radio"
                class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label
                for="filter-radio-example-2"
                class="ms-2 w-full rounded text-sm font-medium text-gray-900 dark:text-gray-300"
                >7 derniers jours</label
              >
            </div>
          </li>
          <li>
            <div
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <input
                id="filter-radio-example-3"
                type="radio"
                value=""
                name="filter-radio"
                class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label
                for="filter-radio-example-3"
                class="ms-2 w-full rounded text-sm font-medium text-gray-900 dark:text-gray-300"
                >30 derniers jours</label
              >
            </div>
          </li>
          <li>
            <div
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <input
                id="filter-radio-example-4"
                type="radio"
                value=""
                name="filter-radio"
                class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label
                for="filter-radio-example-4"
                class="ms-2 w-full rounded text-sm font-medium text-gray-900 dark:text-gray-300"
                >Le mois dernier</label
              >
            </div>
          </li>
          <li>
            <div
              class="flex items-center rounded p-2 hover:bg-gray-100 dark:hover:bg-gray-600"
            >
              <input
                id="filter-radio-example-5"
                type="radio"
                value=""
                name="filter-radio"
                class="h-4 w-4 border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label
                for="filter-radio-example-5"
                class="ms-2 w-full rounded text-sm font-medium text-gray-900 dark:text-gray-300"
                >L'année dernière</label
              >
            </div>
          </li>
        </ul>
      </div>
    </div>
    <label for="table-search" class="sr-only">Search</label>
    <div class="relative">
      <div
        class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 left-0 flex items-center ps-3 rtl:right-0"
      >
        <svg
          class="h-5 w-5 text-gray-500 dark:text-gray-400"
          aria-hidden="true"
          fill="currentColor"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
            clip-rule="evenodd"
          ></path>
        </svg>
      </div>
      <input
        type="text"
        id="table-search"
        class="block w-80 rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
        placeholder="Rechercher..."
      />
    </div>
  </div>

  <table
    class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right"
  >
    <thead
      class="sticky top-0 bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
    >
      <tr>
        <th scope="col" class="p-4">
          <div class="flex items-center">
            <input
              id="checkbox-all-search"
              type="checkbox"
              class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
            />
            <label for="checkbox-all-search" class="sr-only">checkbox</label>
          </div>
        </th>
        <th scope="col" class="px-6 py-3">Désignation</th>
        <th scope="col" class="px-6 py-3">Catégorie</th>
        <th scope="col" class="px-6 py-3">Date</th>
        <th scope="col" class="px-6 py-3">Montant</th>
        <th scope="col" class="px-6 py-3">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (expense of expenseList(); track expense.id) {
        <tr
          class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
        >
          <td class="w-4 p-4">
            <div class="flex items-center">
              <input
                id="checkbox-table-search-1"
                type="checkbox"
                class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:ring-offset-gray-800 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-800"
              />
              <label for="checkbox-table-search-1" class="sr-only"
                >checkbox</label
              >
            </div>
          </td>
          <th
            scope="row"
            class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
          >
            {{ expense.name }}
          </th>
          <td class="flex flex-wrap px-6 py-4">
            @for (category of expense.category; track category) {
              <span
                class="me-2 rounded bg-green-100 px-2.5 py-0.5 text-sm font-medium text-green-800 dark:bg-green-900 dark:text-green-300"
                >{{ category }}</span
              >
            }
          </td>
          <td class="px-6 py-4">{{ expense.date }}</td>
          <td class="px-6 py-4">{{ expense.amount }}</td>
          <td class="px-6 py-4">
            <button
              class="border-0 bg-transparent font-medium text-blue-600 hover:underline dark:text-blue-500"
            >
              Modifier
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="6" class="py-2 text-gray-500">
            Aucune donnée à afficher
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

<!-- Add expense modal -->
<div
  id="expense-form-modal"
  tabindex="-1"
  aria-hidden="true"
  class="fixed left-0 right-0 top-0 z-50 hidden h-[calc(100%-1rem)] max-h-full w-full items-center justify-center overflow-y-auto overflow-x-hidden md:inset-0"
>
  <div class="relative max-h-full w-full max-w-md p-4">
    <!-- Modal content -->
    <div class="relative rounded-lg bg-white shadow dark:bg-gray-700">
      <!-- Modal header -->
      <div
        class="flex items-center justify-between rounded-t border-b p-4 dark:border-gray-600 md:p-5"
      >
        <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
          Noter une dépense
        </h3>
        <button
          type="button"
          class="ms-auto inline-flex h-8 w-8 items-center justify-center rounded-lg bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white"
          data-modal-toggle="expense-form-modal"
        >
          <svg
            class="h-3 w-3"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 14 14"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
            />
          </svg>
          <span class="sr-only">Close modal</span>
        </button>
      </div>
      <!-- Modal body -->
      <form
        class="p-4 md:p-5"
        [formGroup]="expenseForm"
        (ngSubmit)="onSubmit()"
      >
        <div class="mb-4 grid grid-cols-2 gap-4">
          <div class="col-span-2">
            <label
              for="name"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Désignation</label
            >
            <input
              id="name"
              type="text"
              formControlName="name"
              class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
              placeholder="Nom votre dépense"
            />
          </div>
          <div class="col-span-2 sm:col-span-1">
            <label
              for="amount"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Montant</label
            >
            <input
              id="amount"
              type="number"
              formControlName="amount"
              class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400"
              placeholder="Montant"
            />
          </div>
          <div class="relative col-span-2 self-end sm:col-span-1">
            <button
              id="dropdownSearchButton"
              data-dropdown-toggle="dropdownSearch"
              data-dropdown-placement="bottom"
              class="focus:ring-primary-600 focus:border-primary-600 dark:focus:ring-primary-500 dark:focus:border-primary-500 inline-flex w-full items-center justify-between rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm font-medium text-gray-900 dark:bg-gray-600 dark:text-white"
              type="button"
            >
              Catégorie
              <svg
                class="ms-3 h-2.5 w-2.5"
                aria-hidden="true"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 10 6"
              >
                <path
                  stroke="currentColor"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="m1 1 4 4 4-4"
                />
              </svg>
            </button>

            <!-- Dropdown menu -->
            <div
              id="dropdownSearch"
              class="z-10 hidden w-60 rounded-lg bg-white shadow dark:bg-gray-700"
            >
              <div class="p-3">
                <label for="input-group-search" class="sr-only">Search</label>
                <div class="relative">
                  <div
                    class="rtl:inset-r-0 pointer-events-none absolute inset-y-0 start-0 flex items-center ps-3"
                  >
                    <svg
                      class="h-4 w-4 text-gray-500 dark:text-gray-400"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      fill="none"
                      viewBox="0 0 20 20"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"
                      />
                    </svg>
                  </div>
                  <input
                    type="text"
                    id="input-group-search"
                    class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2 ps-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                    placeholder="Chercher une catégorie"
                  />
                </div>
              </div>
              <ul
                class="h-48 overflow-y-auto px-3 pb-3 text-sm text-gray-700 dark:text-gray-200"
                aria-labelledby="dropdownSearchButton"
              >
                @for (category of expenseCategoryList; track category) {
                  <li>
                    <div
                      class="flex items-center rounded ps-2 hover:bg-gray-100 dark:hover:bg-gray-600"
                    >
                      <input
                        [id]="category"
                        type="checkbox"
                        name="category"
                        [value]="category"
                        class="h-4 w-4 rounded border-gray-300 bg-gray-100 text-blue-600 focus:ring-2 focus:ring-blue-500 dark:border-gray-500 dark:bg-gray-600 dark:ring-offset-gray-700 dark:focus:ring-blue-600 dark:focus:ring-offset-gray-700"
                      />
                      <label
                        for="checkbox-item-11"
                        class="ms-2 w-full rounded py-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                        >{{ category }}</label
                      >
                    </div>
                  </li>
                }
              </ul>
            </div>
          </div>
          <div class="col-span-2">
            <label
              for="datepicker-actions"
              class="mb-2 block text-sm font-medium text-gray-900 dark:text-white"
              >Date</label
            >
            <div class="relative">
              <div
                class="pointer-events-none absolute inset-y-0 end-0 flex items-center pe-3"
              >
                <svg
                  class="h-4 w-4 text-gray-500 dark:text-gray-400"
                  aria-hidden="true"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="currentColor"
                  viewBox="0 0 20 20"
                >
                  <path
                    d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"
                  />
                </svg>
              </div>
              <input
                id="datepicker-actions"
                type="text"
                formControlName="date"
                datepicker-buttons
                datepicker-autoselect-today
                datepicker
                class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pe-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500 dark:border-gray-600 dark:bg-gray-700 dark:text-white dark:placeholder-gray-400 dark:focus:border-blue-500 dark:focus:ring-blue-500"
                placeholder="Choisir une date"
              />
            </div>
          </div>
        </div>

        <button
          type="submit"
          class="mb-2 me-2 mt-6 inline-flex items-center rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
        >
          <svg
            class="-ms-1 me-1 h-5 w-5"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
          Enregister
        </button>
      </form>
    </div>
  </div>
</div>
