<section>
  <div class="flex items-center justify-between">
    <h1 class="text-3xl font-semibold text-gray-500">{{ title }}</h1>
    <h2 class="text-3xl font-semibold text-gray-500">
      {{ totalSavings() }} <span class="ms-1 text-base">MGA</span>
    </h2>
  </div>

  <!-- Modal toggle -->
  <div class="mt-8">
    <button
      (click)="onAddSaving()"
      class="mb-2 me-2 rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
      type="button"
    >
      Epargner
    </button>
  </div>

  <div class="mt-10 sm:rounded-lg">
    <div class="relative max-h-[70dvh] overflow-y-auto">
      <table
        class="w-full text-left text-sm text-gray-500 dark:text-gray-400 rtl:text-right"
      >
        <thead
          class="sticky top-0 bg-gray-50 text-xs uppercase text-gray-700 dark:bg-gray-700 dark:text-gray-400"
        >
          <tr>
            <th scope="col" class="px-6 py-3">Date</th>
            <th scope="col" class="px-6 py-3">Montant (MGA)</th>
            <th scope="col" class="px-6 py-3">Action</th>
          </tr>
        </thead>
        <tbody>
          @if (isLoading()) {
            <tr>
              <td colspan="5" class="py-4 text-center text-gray-500">
                <app-loader-spinner />
              </td>
            </tr>
          } @else {
            @for (saving of savingList(); track saving.id) {
              <tr
                class="border-b bg-white hover:bg-gray-50 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-600"
              >
                <td
                  scope="row"
                  class="whitespace-nowrap px-6 py-4 font-medium text-gray-900 dark:text-white"
                >
                  {{ saving.created_at | date: "MMM, y" }}
                </td>
                <td class="px-6 py-4">{{ saving.amount }}</td>
                <td class="flex px-6 py-4">
                  <button
                    (click)="onEditSaving(saving)"
                    class="border-0 bg-transparent font-medium text-blue-600 hover:underline dark:text-blue-500"
                    type="button"
                  >
                    <svg
                      class="h-6 w-6 text-gray-800 dark:text-white"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10.779 17.779 4.36 19.918 6.5 13.5m4.279 4.279 8.364-8.643a3.027 3.027 0 0 0-2.14-5.165 3.03 3.03 0 0 0-2.14.886L6.5 13.5m4.279 4.279L6.499 13.5m2.14 2.14 6.213-6.504M12.75 7.04 17 11.28"
                      />
                    </svg>
                  </button>
                  <button
                    (click)="onDeleteSaving(saving.id)"
                    class="ms-2 border-0 bg-transparent font-medium text-blue-600 hover:underline dark:text-blue-500"
                  >
                    <svg
                      class="h-6 w-6 text-red-800 dark:text-pink-600"
                      aria-hidden="true"
                      xmlns="http://www.w3.org/2000/svg"
                      width="24"
                      height="24"
                      fill="none"
                      viewBox="0 0 24 24"
                    >
                      <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M5 7h14m-9 3v8m4-8v8M10 3h4a1 1 0 0 1 1 1v3H9V4a1 1 0 0 1 1-1ZM6 7h12v13a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7Z"
                      />
                    </svg>
                  </button>
                </td>
              </tr>
            } @empty {
              <tr>
                <td colspan="6" class="py-4 text-center text-gray-500">
                  Aucune donnée à afficher
                </td>
              </tr>
            }
          }
        </tbody>
      </table>
    </div>
  </div>
</section>

@if (isShowModalForm()) {
  <app-savings-form
    [selectedSaving]="selectedSaving"
    [isAddForm]="isAddForm()"
    (closeModalForm)="onCloseModalForm()"
  />
}

@if (isShowModalDelete()) {
  <app-modal-delete (closeModal)="onCloseModalDelete()" [id]="savingId" />
}
