<section class="mt-32 flex flex-col items-center justify-center space-y-8">
  <h1 class="text-6xl font-bold text-black">404</h1>
  <p class="text-xl font-medium text-black">Hey, cette page n'existe pas !</p>
  <a
    routerLink="/dashboard"
    class="flex items-center rounded-lg bg-gray-800 px-5 py-2.5 text-sm font-medium text-white hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700"
  >
    <i class="me-2">
      <svg
        class="h-6 w-6 text-white dark:text-gray-800"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        width="24"
        height="24"
        fill="none"
        viewBox="0 0 24 24"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 12h14M5 12l4-4m-4 4 4 4"
        />
      </svg>
    </i>
    Revenir au tableau de bord
  </a>
</section>
